<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:include="fragments/common :: head"></header>
</head>
<body>

<!--全部主体内容-->
<div class="list-content">
    <!--块元素-->
    <div class="block">
        <!--正文内容-->
        <div class="main">
            <form id="form" method="post" th:action="@{/examPaper/save}">
                <!--修饰块元素名称-->
                <div class="banner">
                    <p class="tab fixed">学生记录</p>
                </div>

                <!--文本框-->
                <div class="unit">
                    <div class="left"><span class="required">*</span><p class="subtitle">考试名称</p></div>
                    <div class="right">
                        <input type="text" class="text" name="title" data-type="必填" error-msg="必填" error-pos="42" placeholder="请输入考试名称" />
                    </div>
                    <!--清浮动-->
                    <span class="clearfix"></span>
                </div>
                <!--文本框-->
                <div class="unit">
                    <div class="left"><span class="required">*</span><p class="subtitle">总分值</p></div>
                    <div class="right">
                        <input type="text" class="text" name="totalScore" data-type="必填|正整数" error-msg="请输入正整数" error-pos="42" placeholder="请输入总分值" />
                    </div>
                    <!--清浮动-->
                    <span class="clearfix"></span>
                </div>

                <!--下拉选择框-->
                <div class="unit">
                    <div class="left"><p class="subtitle">考试时长</p></div>
                    <div class="right">
                        <select id="limitTime" name="limitTime">
                            <option value="">请选择</option>
                            <option value="30">30分钟</option>
                            <option value="40">40分钟</option>
                            <option value="45">45分钟</option>
                            <option value="60">60分钟</option>
                            <option value="90">90分钟</option>
                            <option value="100">100分钟</option>
                            <option value="120">120分钟</option>
                            <option value="150">150分钟</option>
                            <option value="180">180分钟</option>
                        </select>
                    </div>
                    <!--清浮动-->
                    <span class="clearfix"></span>
                </div>


                <!--修饰块元素名称-->
                <div class="banner">
                    <p class="tab fixed">考试题型</p>
                </div>

                <!--复选框-->
               <!-- <div class="unit">
                    <div class="left"><p class="subtitle">兴趣</p></div>
                    <div class="right">
                        <ul class="equal-8">
                            <li><input type="checkbox" class="fill" name="interest" />单项选择</li>
                            <li><input type="checkbox" class="fill" name="interest" />完型填空</li>
                            <li><input type="checkbox" class="fill" name="interest" />阅读理解</li>
                            &lt;!&ndash;清浮动&ndash;&gt;
                            <span class="clearfix"></span>
                        </ul>
                    </div>
                    &lt;!&ndash;清浮动&ndash;&gt;
                    <span class="clearfix"></span>
                </div>-->

                <table id="table" class="table color2">
                    <thead>
                    <tr>
                        <th>题型名称</th>
                        <th>分值</th>
                        <th style="width: 10%;text-align: center;"><button class="button blue" onclick="addRow();return false;"><span class="icon-plus"></span> 添加</button></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>


                <!--<div class="tagbox" placeholder="请输入题型按回车保存"></div>-->
                <!--<input type="hidden" id="tag" name="tag" value="" />-->

                <!--提交按钮-->
                <div class="unit">
                    <div style="text-align: center;">
                        <!--表单提交时，必须是input元素，并指定type类型为button，否则ajax提交时，会返回error回调函数-->
                        <input type="button" id="return" class="button no" value="返回" />
                        <input type="button" id="save" class="button yes" value="保存" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $(function(){
        if($("#table").find("tr").length == 1){
            addRow();
        }
    });

    javaex.select({
        id : "limitTime",
        isSearch : false
    });

    javaex.tag({
        id : "tag"
    });

    // 监听点击保存按钮事件
    $("#save").click(function() {
        // 表单验证函数
        if (javaexVerify()) {
            // 返回错误信息时，可以添加自定义异常提示。参数为元素id和提示
            // addErrorMsg("username", "用户名不存在");
            // 提交
            var options = {
                dataType:'json',
                success:function(data){
                    if(data.status==200){
                        javaex.optTip({
                            content : "操作成功",
                            type : "success"
                        });
                        // 建议延迟加载
                        setTimeout(function() {
                            parent.javaex.close();
                            parent.location.reload();
                        }, 2000);
                    }else{
                        javaex.optTip({
                            content : "操作失败，原因：" + data.message,
                            type : "error",
                            live : 5000
                        });
                    }
                }
            };
            javaex.optTip({
                content : "数据提交中，请稍候...",
                type : "submit"
            });
            $("#form").ajaxSubmit(options);
        }
    });

    // 监听点击返回按钮事件
    $("#return").click(function() {
        parent.javaex.close();
        // alert("返回");
        // // window.location.href = document.referrer;
    });

    // 监听点击保存按钮事件
    function addRow(){
        var _tr = "<tr>"
            +"<td><input type=\"text\" class=\"text\" name=\"typeName\" /></td>"
            +"<td><input type=\"text\" class=\"text\" name=\"targetScore\" /></td>"
            +"<td style=\"text-align:center;\">"
            +"<button class=\"button red\" onclick=\"removeRow(this);return false;\"><span class=\"icon-remove\"></span> 删除</button>"
            +"</td>"
            +"</tr>";
        $("#table > tbody").append(_tr);
        return false;
    }
    //删除表格
    function removeRow(obj){
        $(obj).parent().parent().remove();
    }
</script>
</body>
</html>