<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:include="fragments/common :: head"></header>
</head>
<body>

<!--全部主体内容-->
<div class="list-content">
    <!--块元素-->
    <div class="block">
        <!--正文内容-->
        <div class="main">
            <form id="form" method="post" th:action="@{/classGroup/save}">
                <!--修饰块元素名称-->
                <div class="banner">
                    <p class="tab fixed">班级信息</p>
                </div>

                <!--文本框-->
                <div class="unit">
                    <div class="left"><span class="required">*</span><p class="subtitle">所属学年</p></div>
                    <div class="right">
                        <input type="text"  class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy',readOnly:true})" name="schoolYear" data-type="必填" error-msg="必填" error-pos="42" placeholder="请输入考试名称" />
                    </div>
                    <!--清浮动-->
                    <span class="clearfix"></span>
                </div>

                <!--文本框-->
                <div class="unit">
                    <div class="left"><span class="required">*</span><p class="subtitle">班级编号</p></div>
                    <div class="right">
                        <input type="text" class="text" name="classCode" data-type="必填" error-msg="必填" error-pos="42" placeholder="请输入班级编号" />
                    </div>
                    <!--清浮动-->
                    <span class="clearfix"></span>
                </div>

                <!--文本框-->
                <div class="unit">
                    <div class="left"><span class="required">*</span><p class="subtitle">班级名称</p></div>
                    <div class="right">
                        <input type="text" class="text" name="className" data-type="必填" error-msg="必填" error-pos="42" placeholder="请输入班级名称" />
                    </div>
                    <!--清浮动-->
                    <span class="clearfix"></span>
                </div>

                <!--提交按钮-->
                <div class="unit">
                    <div style="text-align: center;">
                        <!--表单提交时，必须是input元素，并指定type类型为button，否则ajax提交时，会返回error回调函数-->
                        <input type="button" id="return" class="button no" value="返回" />
                        <input type="button" id="save" class="button yes" value="保存" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:inline="javascript">
    // 监听点击保存按钮事件
    $("#save").click(function() {
        // 表单验证函数
        if (javaexVerify()) {
            // 返回错误信息时，可以添加自定义异常提示。参数为元素id和提示
            // addErrorMsg("username", "用户名不存在");
            // 提交
            var options = {
                dataType:'json',
                success:function(data){
                    if(data.status==200){
                        javaex.optTip({
                            content : "操作成功",
                            type : "success"
                        });
                        // 建议延迟加载
                        setTimeout(function() {
                            parent.javaex.close();
                            parent.location.reload();
                        }, 2000);
                    }else{
                        javaex.optTip({
                            content : "操作失败，原因：" + data.message,
                            type : "error",
                            live : 5000
                        });
                    }
                }
            };
            javaex.optTip({
                content : "数据提交中，请稍候...",
                type : "submit"
            });
            $("#form").ajaxSubmit(options);
        }
    });

    // 监听点击返回按钮事件
    $("#return").click(function() {
        parent.javaex.close();
    });
</script>
</body>
</html>